@model Product.Output

<div>@ViewData["ErrorMessage"]</div>

@section ContentHeader  {
    @Model.Name
}

@section ContentHeaderSub {
    Price: @Model.Price
}

<div class="mb-2">
    <form asp-route-code="@Model.Code"
          asp-controller="Products"
          asp-action="Delete"
          method="post">
        <a class="btn btn-primary" href="@Url.Action(" Update", values: new { Code=Model.Code })">Edit</a>
        <a class="btn btn-danger" href="#" onclick="this.parentElement.submit()">Delete</a>
    </form>
</div>